//! **************************************************************************
// Written by: Map P.20131013 on Mon Mar 06 09:44:53 2023
//! **************************************************************************

SCHEMATIC START;
NET "CLK_BUFGP/IBUFG" BEL "CLK_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

